@model Site_Locadora.Models.Filme

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h3>TEM CERTEZA QUE QUER DELETAR ESSE FILME?</h3>

<div class="row">
    <!-- COLUNA DA ESQUERDA (informações) -->
    <div class="col-md-8">
        <h4>Filme</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ano)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ano)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Diretor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diretor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImdbID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImdbID)
            </dd>
        </dl>

        <form asp-action="Details">
            <input type="submit" value="Delete" class="btn btn-danger" />
            |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    <div class="col-md-4 text-end">
        <img src="@Model.Poster"
             alt="@Model.Titulo"
             style="width: 200px; border-radius: 5px;" />
    </div>
</div>
